body.edit-report-page {
  background-color:#ffebcd; /* page background */
}

.edit-report {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* white card */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
