.footer {
  background-color:#e7d7ad;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  color: #5D4037;
  display: flex;
  justify-content: center;
  gap: 6px;
}

