.header {
  background-color: #e7d7ad;
  
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: sans-serif;
  color: #5D4037;
  font-size: 30px;
}

.logo {
  width:3rem;
  height: auto;
}

.login-btn {
  background-color: #5D4037;
  padding: 0.5px 20px;
  border-radius: 15px;
  border: 1px solid #FFEFE5;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  height: 35px;
  width: 125px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.header .login-btn:hover {
  transform: scale(1.1);
}

/* Optional: style for logout popup if it exists */
.logout-popup {
  position: fixed;
  font-weight: 300;
  top: 10px;
  right: 10px;
  background-color: #FFEFE5;
  color: #BC6549;
  opacity: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}
